*{
    margin: 0;
    padding: 0: border-box;
}

  .container{  
    background-color: #192F48;
    width: 100%;
    display: flex;
    padding: 10px;
  }

  .nav_links ul{
    display: flex;
  }
 
  .nav_links li {
    list-style: none;
    margin-left: 85px;
  }
    .nav_links li a{
        color: #fff;
        text-decoration: none;
    }

 .nav_links li a:hover {
    color:#ff0000;
 }

.background{
    margin-left: 490px;
    background-color:#192F48 ;
    color: #fff;
     border: 2px solid #fff;
border-radius: 1.8em;
width: 215px;
font-size: 17px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;

}

button:hover{
    background-color: #fff;
    color: #0065c3;
}
{
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
}

.container{
  .background-color: #0065c3;
}

div .button {
width: 25px;
height: 30px;

}











